 body {
      background-color: #f4f4f4;
      font-family: 'Segoe UI', sans-serif;
    }

    .navbar {
      background-color: #003366;
    }

    .navbar-brand, .nav-link {
      color: white !important;
      font-weight: bold;
    }

    .navbar-brand i {
      margin-right: 8px;
    }
    #head{
      padding: 0.5%;
      border-radius: 8%;
    }
    #head:hover{
      background-color: #005599;
    }
    .hero {
      padding: 100px 20px;
      text-align: center;
      background: linear-gradient(to right, #003366, #17609c);
      color: white;
    }

    .hero h1 {
      font-size: 42px;
      margin-bottom: 20px;
    }

    .hero p {
      font-size: 18px;
      max-width: 700px;
      margin: auto;
    }
    #logo{
      width: 50%;
      max-width: 700px;
      min-width: 400px;
    }
    .content{
      margin-bottom: 9%;
    }
    .footer {
      background-color: #003366;
      color: white;
      text-align: center;
      padding: 20px;
      position: fixed;
      width: 100%;
      bottom: 0;
    }
