body {
      background-color: #f2f2f2;
      font-family: 'Segoe UI', sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .login-box {
      background-color: white;
      padding: 40px;
      border-radius: 10px;
      width: 100%;
      max-width: 500px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    #logo{
      width: 15%;
      max-width: 130px;
      min-width: 90px;
      margin-bottom: 10px;
    }

    .form-control {
      background-color: #f9f9f9;
    }

    .login-title {
      text-align: center;
      margin-bottom: 20px;
      color: #003366;
      font-weight: bold;
      font-size: 24px;
    }

    .btn-primary {
      background-color: #003366;
      border: none;
    }

    .btn-primary:hover {
      background-color: #005599;
    }

    .form-icon {
      position: absolute;
      left: 10px;
      top: 10px;
      color: #999;
    }

    .input-group .form-control {
      padding-left: 35px;
    }