body.inicio-body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.inicio-main {
  position: relative;
  height: 100%;
  flex-grow: 1;
  background: linear-gradient(to bottom, #004aad, #002b5c);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inicio-bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.inicio-bg-img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  opacity: 0.1;
  filter: brightness(1.1);
  pointer-events: none;
}


.inicio-content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 32px;
  color: white;
}

.inicio-main h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.inicio-main p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
}




/* navbar and footer css */
.header {
  background-color: #003366;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  font-size: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 30px;
  margin-right: 10px;
}

.logo-text {
  font-weight: bold;
  font-size: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: #001d3f;
  font-size: 14px;
  color: white;
}