body {
      background-color: #f2f2f2;
      font-family: 'Segoe UI', sans-serif;
    }

    .sidebar {
      width: 220px;
      background-color: #003366;
      color: white;
      height: 100vh;
      padding-top: 30px;
    }

    .sidebar h4 {
      text-align: center;
      margin-bottom: 30px;
    }

    .sidebar a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 12px 20px;
      transition: background 0.2s;
    }

    .sidebar a:hover {
      background-color: #005599;
    }

    .sidebar i {
      margin-right: 10px;
    }

    .form-section {
      padding: 30px;
      background-color: white;
      border-radius: 8px;
      margin: 30px;
    }
    #logo{
      width: 15%;
      max-width: 130px;
      min-width: 90px;
    }

    .form-title {
      font-size: 24px;
      font-weight: bold;
      border-bottom: 2px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 30px;
      color: #003366;
    }