.header {
  background-color: #003366;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  font-size: 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 30px;
  margin-right: 10px;
}

.logo-text {
  font-weight: bold;
  font-size: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: #001d3f;
  font-size: 14px;
  color: white;
}
